# Google service account key file location
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=./keys/service-account.json
# Optional subject for domain-wide delegation if you need to impersonate a specific G Suite user
GOOGLE_SERVICE_ACCOUNT_SUBJECT=

# Port to run the Express server on
PORT=4000
